<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Cake" version="0.28.1" />
	<package id="Cake.XComponent" version="2.2.4" />
	<package id="Cake.Yarn" version="0.3.0" />
	<package id="XComponent.Studio.Community" version="5.0.16" />
	<package id="JetBrains.dotCover.CommandLineTools" version="2017.1.20170428.83814" developmentDependency="true" />
</packages>
