<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Cake" version="0.19.5" />
	<package id="Cake.XComponent" version="2.1.0" />
	<package id="Cake.Yarn" version="0.3.0" />
	<package id="xcomponent.community" version="5.0.0-beta0068" />
	<package id="JetBrains.dotCover.CommandLineTools" version="2017.1.20170428.83814" developmentDependency="true" />
</packages>
